.courses-container {
    display: flex;
    flex-direction: row;  
    gap: 50px 80px;
    flex-wrap: wrap;
}

.page-container h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.page-container p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}


.page-container {
    display: flex;
    margin: 30px;
    flex-direction: column;
    gap: 20px;
    
}