.course-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 1px solid #f00;
}
.course-container .course-detail {
    max-width: 500px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 10px;
    box-shadow: 0 0 10px #333;
    border-radius: 5p;
    position: relative;
}
.course-container .course-detail h2 {
    font-size: 40px;
    color: #0a92b0;
}
.course-container .course-detail p:first-of-type {
    font-size: 23px;
    color: #616161;
}
.course-container .course-detail p {
    font-size: 20px;
}
.course-container .course-detail strong {
    margin-right: 5px;
    letter-spacing: 1.5px;
}
.btn-back {
    position: absolute;
    top: -30px;
    left: -10px;
    background-color: transparent;
    border: none;
}
